@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #171717;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}
main {
    margin-left: 5vw;
    margin-right: 5vw;
}

.header {
    height: 10vh;
    display: inline-grid;
    align-items: center;
}

.corpo {
    height: 90vh;
    overflow: revert;
    line-height: 1.6;
}

.corpo img {
    object-fit: contain;
}

.corpo .mensagem {
    padding: 24px 0;
}
.corpo .mensagem h3 {
    padding-bottom: 8px;
    font-weight: 200;
    font-style: italic;
}

.corpo p {
    padding-bottom: 6px;
    text-align: justify;
}

.corpo a {
    color: white;
}
