@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

html,body
{
    height:100%;
    width:100%;
}
body
{
    margin: 0;
    display: table;
    font-family: 'JetBrains Mono', monospace;
}

.header h2 {
    padding-left: 24px;
    padding-right: 24px;
}

.corpo img {
    height: calc(100vh - 176px);
    object-fit: contain;
}
.corpo {
    padding-left: 24px;
    padding-right: 24px;
}

@media only screen and (max-width: 768px) {
  .corpo img {
    width: 100%
  }
}