<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" http-equiv="Content-Type">
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>'404 - TaroTI</title>

  <link rel="icon" type="image/png" sizes="96x96" href="/icone.png">
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
<main>
  <div class="header">
    <h2>404 - carta não encontrada.</h2>
  </div>

  <div class="corpo">
    <img src="img/maior/00.png" />
    <div class="mensagem">
      <p>Parece que o seu destino é se perder no site dos outros.</p>
    </div>
  </div>
</main>
</body>
</html>