<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>TaroTI</title>

    <link rel="icon" type="image/png" sizes="96x96" href="/icone.png">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <main>
        <div class="header">
            <h2>TaroTI</h2>
        </div>

        <div class="corpo">
            <div class="mensagem">
                <p>Faça sua leitura clicando
                    <a href="/leitura" th:href="@{leitura}">aqui</a>.
                </p>
                <p>Ou se você só liga pras arcanas maiores, clique
                    <a href="/leitura" th:href="@{'/leitura?naipe=' + 0}">aqui</a>.
                </p>
            </div>
        </div>
    </main>
</body>
</html>