<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>TaroTI</title>

    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="header">
        <h2>TaroTI</h2>
    </div>

    <div class="corpo">
        <div class="mensagem">
            <p>Faça sua leitura clicando
                <a href="/leitura" th:href="@{'/leitura?naipe=' + ${naipe} + '&carta=' + ${carta} + '&sentido=' + ${sentido}}">aqui</a>
            </p>
        </div>
    </div>
</body>
</html>