<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>TaroTI</title>
</head>
<body>
    <p th:text="'Você tirou: ' + ${carta} + '!'"></p>
    <img th:src="'img/' + ${carta.getImagem} + '.png'" th:style="'transform:rotate(' +
        ${ (carta.getDirecao()) ? '0deg' : '180deg' }
    + ');'" />
    <p th:text="${
        (carta.getDirecao()) ? carta.getDescricaoCerta() : carta.getDescricaoTorta()
    }"></p>
</body>
</html>