<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title th:text="'TaroTI - ' + ${nome}"></title>

    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="header">
        <h2 th:text="${nome}"></h2>
    </div>

    <div class="corpo">
        <img th:src="'https://raw.githubusercontent.com/sleiph/taroTI/main/src/main/resources/static/img/' + ${caminho} + '.png'"
             th:style="'transform:rotate(' + ${ (sentido == 'cima') ? '0deg' : '180deg' } + ');'" />
        <div class="mensagem">
            <th:block th:utext="${
                (sentido == 'cima') ? carta.descricaoCerta : carta.descricaoTorta
            }"></th:block>
        </div>
    </div>
</body>
</html>